{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'game/css/board.css' %}" />

</head>
<body>



<div class="container">
    <header>
        <h1>Chess with Lucas</h1>
        <h3>Simple P2P and AI chess playing.</h3>
    </header>
    {% block container %}

    {% endblock %}
</div>

<template id="square">
    <div>
        <div>TestTest</div>
    </div>
</template>

</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript" src="{% static 'game/js/main.js' %}"></script>
</html>