{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>

    <link rel="stylesheet" type="text/css" href="{% static 'game/css/board.css' %}" />

</head>
<body>

<div class="container">
    <h1>Chess</h1>
    <form method="post">
        {% csrf_token %}
        {{ command_form }}
        <input type="submit">
    </form>

    <div class="board">
        {% for row in rows %}
            <div class="row">
                {% for column in row %}
                    <div class="square {{ column.piece.name }}">
                        {% include 'game/sprite.html' %}
                        <span>{{ column.piece.symbol }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>