@black-square: rgb(180, 180, 180);
@white-square: rgb(250, 250, 250);

svg {
  width: 100%;
  height: 100%;
}


.board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  div {
    display: inline-block;
    &.row {
      height: 12.5%;
      width: 100%;
      display: block;
      &:nth-child(odd) {
        .square:nth-child(odd) {
          background-color: @black-square;
        }
        .square:nth-child(even) {
          background-color: @white-square;
        }
      }
      &:nth-child(even) {
        .square:nth-child(odd) {
          background-color: @white-square;
        }
        .square:nth-child(even) {
          background-color: @black-square;
        }
      }
    }
  }
  .square {
    float: left;
    width: 12.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
  }
  span {
    overflow: hidden;
    width: 90%;
    height: 90%;
  }
}

.active {
  background-color: #5b80b2 !important;
}
.available {
  background-color: #46b21c !important;
  //transition: background 140ms ease-in;
  &:hover {
    background-color: #f5871e !important;
  }
}