@black-square: rgb(180, 180, 180);
@white-square: rgb(250, 250, 250);

svg {
  width: 20px;
  height: 20px;
  visibility: hidden;
}

.white_king {
  #white_king {
    visibility: visible;
  }
}
.white_queen {
  #white_queen {
    visibility: visible;
  }
}
.white_bishop {
  #white_bishop {
    visibility: visible;
  }
}
.white_knight {
  #white_knight {
    visibility: visible;
  }
}
.white_rook {
  #white_rook {
    visibility: visible;
  }
}
.white_pawn {
  #white_pawn {
    visibility: visible;
  }
}
.black_king {
  #black_king {
    visibility: visible;
  }
}
.black_queen {
  #black_queen {
    visibility: visible;
  }
}
.black_bishop {
  #black_bishop {
    visibility: visible;
  }
}
.black_knight {
  #black_knight {
    visibility: visible;
  }
}
.black_rook {
  #black_rook {
    visibility: visible;
  }
}
.black_pawn {
  #black_pawn {
    visibility: visible;
  }
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  div {
    display: inline-block;
    &.row {
      height: 12.5%;
      width: 100%;
      display: block;
      &:nth-child(odd) {
        .square:nth-child(odd) {
          background-color: @black-square;
        }
        .square:nth-child(even) {
          background-color: @white-square;
        }
      }
      &:nth-child(even) {
        .square:nth-child(odd) {
          background-color: @white-square;
        }
        .square:nth-child(even) {
          background-color: @black-square;
        }
      }
    }
  }
  .square {
    float: left;
    width: 12.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
  }
}