svg {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
}
header {
  padding: 1%;
}
.game-container {
  width: 750px;
  margin: auto;
  position: relative;
}
.board {
  width: 65%;
  height: 500px;
  border: 1px solid black;
  position: relative;
}
.board div {
  display: inline-block;
}
.board div.row {
  height: 12.5%;
  width: 100%;
  display: block;
}
.board div.row:nth-child(odd) .square:nth-child(odd) {
  background-color: #b4b4b4;
}
.board div.row:nth-child(odd) .square:nth-child(even) {
  background-color: #fafafa;
}
.board div.row:nth-child(even) .square:nth-child(odd) {
  background-color: #fafafa;
}
.board div.row:nth-child(even) .square:nth-child(even) {
  background-color: #b4b4b4;
}
.board .square {
  float: left;
  width: 12.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
}
.board span {
  overflow: hidden;
  width: 90%;
  height: 90%;
}
.active {
  background-color: #5b80b2 !important;
}
.available {
  background-color: #46b21c !important;
}
.available:hover {
  background-color: #f5871e !important;
}
form.move input {
  display: none;
}
form.move label {
  position: absolute;
  bottom: 0;
  left: 5px;
}
.rank,
.file {
  position: absolute;
  font-size: 14px;
}
.board .rank {
  width: 3%;
  display: inline-block;
  left: 1px;
}
.board .file {
  float: left;
  position: relative;
  width: 12.5%;
  display: inline-block;
}
.board .file-row {
  height: 5px;
  position: absolute;
  bottom: -47px;
  left: 2px;
}
.moves,
.alerts,
.chat {
  width: 34%;
  position: absolute;
  right: 0;
  top: 0;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.moves table,
.alerts table,
.chat table {
  width: 100%;
}
.moves table td,
.alerts table td,
.chat table td {
  width: 30%;
}
.moves table td:first-child,
.alerts table td:first-child,
.chat table td:first-child {
  width: 20%;
}
.alerts {
  top: 400px;
  height: 100px;
}
.chat {
  top: 220px;
  height: 150px;
  font-size: 14px;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
